[[language]]
name = "python"
language-servers = ["pyright", "ruff"]

[[language]]
name = "c"
indent = { tab-width = 4, unit = "    " }

[[language]]
name = "cpp"
indent = { tab-width = 4, unit = "    " }
